@import url('https://fonts.googleapis.com/css2?family=Arial:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Arial',sans-serif;
}
body{
    background-color: white;
    margin: 0px auto;
    .top{
        flex-direction: row-reverse;
        justify-content: flex-end;
        float: right;
        a{
            position: relative;
            text-decoration: none;
            color: black;
            margin-right: 15px;
            font-size: 15px;
            top: 15px;
            right: 5px;
        }
        
    }
    .middle{
        position: absolute;
        top: 26%;
        left: 41%;
        .imag{
            width: 275px;
            height: 95px;
        }
        .inputt{
            width: 561px;
            height: 44px;
            border-radius: 30px;
            border: 1px solid #dcdcdc;
            box-shadow: 1px 1px 8px 1px #dcdcdc;
            position: relative;
            right: 27%;
            top: 29px;
            .icon{
                position: relative;
                left: 15px;
                margin-right: 3px;
            }
            input{
                width: 500px;
                height: 44px;
                border-radius: 30px;
                padding: 15px;
                border: none;
                &::placeholder{
                    font-size: 15px;
                    font-family: 'Arial',sans-serif;
                }
                &:focus{
                    outline: none;
                }
                
            }
            button{
                border: none;
                .microphone{
                    cursor: pointer;
                    font-size: 15px;
                }
            }
        }
        .ara{
            position: relative;
            top: 40px;
            left: -20px;
            width: 100px;
            height: 40px;
            border: none;
            border-radius: 5px;
        }
        .feel{
            position: relative;
            top: 40px;
            height: 40px;
            width: 200px;
            border: none;
            border: 10px;
            border-radius: 5px;
        }
        
    }
    .footer{
        position: absolute;
        right: 20px;
        bottom: 15px;
        button{
            width: 180px;
            height: 3px;
            border-radius: 20px;
            border: 1px solid #dcdcdc;
            border: none;
            box-shadow: 1px 1px 8px 1px #dcdcdc;
            color: #1A73E8;
            font-size: 12px;
            background-color: transparent;
            .pencil{
                margin-left: -10px;
            }
            span{
                margin-left: 5px;
            }
        }
    }
}